<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/homeP.css}">
</head>
<body>

<h1>Bienvenido a la Tienda Virtual</h1>

<nav>
    <ul>
        <li><a th:href="@{/clientes}">Clientes</a></li>
        <li><a th:href="@{/productos}">Productos</a></li>
        <li><a th:href="@{/ventas}">Ventas</a></li>
        <li><a th:href="@{/usuarios}">Usuarios</a></li>
        <li><a th:href="@{/logout}">Cerrar sesión</a></li>
    </ul>
</nav>

</body>
</html>