<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/homeP.css}">
</head>
<body>

<h1>Bienvenido a la Tienda Virtual</h1>

<nav>
    <ul>
        <li><a th:href="@{/Clientes}">Clientes</a></li>
        <li><a th:href="@{/Productos}">Productos</a></li>
        <li><a th:href="@{/Ventas}">Ventas</a></li>
        <li><a th:href="@{/Usuarios}">Usuarios</a></li>
        <li><a th:href="@{/login}">Cerrar sesión</a></li>
    </ul>
</nav>

</body>
</html>